<div class='container'>
  <div class='col-md-12'>
    <table class='table table-striped table-hover reservations-table'>
      <thead>
        <tr>
          <th> Horário </th>

          <% @week.each do |day| %>
            <th> <%= l(day, format: '%A %d/%m/%y') %> </th> 
          <% end %>
        </tr>
      </thead>

      <tbody>
        <% (6..23).each do |time| %>
          <tr>
            <td> <%= "#{time}:00" %> </td>

            <% @week.each do |day| %>
              <td data-time=<%= time %> data-date=<%= I18n.l(day) %> >
                <% if @reservations.get_reservation_by_time_and_date(time,day) %>
                  <% if @reservations.get_reservation_by_time_and_date(time,day).user == current_user %> 
                    <%= link_to "Reservado para #{ @reservations.get_reservation_by_time_and_date(time,day).user_email }", '#', 
                      class: 'destroy-reservation-link', data: { id: @reservations.get_reservation_by_time_and_date(time,day).id } %>
                  <% else %>
                    <%= "Reservado para #{ @reservations.get_reservation_by_time_and_date(time,day).user_email }" %>
                  <% end %>
                <% else %>
                  <%= link_to 'Reservar', '#', class: 'create-reservation-link' %>
                <% end %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>

    </table>

  </div>
</div>
